.footer__sign {
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7a7a7a;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__link {
  color: #f38181;
}
.footer__space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input-email {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #a0a0a0;
  padding: 11px 140px 13px 10px;
}

.footer__btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $white-color;
  text-transform: uppercase;
  background-color: rgb(149, 225, 211);
  border: 2px solid transparent;
  padding: 16px 32px;
  cursor: pointer;
}
