.menu__list {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $white-color;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 520px;
  flex-basis: 520px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu__list-item--active:hover,
.menu__list-item--active:focus {
  color: $hover-color;
  cursor: pointer;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

.menu__list-item {
  position: relative;
}

.menu__list-item--active:nth-child(-n + 5):hover::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  margin: 0 auto;
  background-color: $hover-color;
  display: block;
  bottom: -10px;
}

.menu__btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.menu__btn-svg {
  width: 18px;
  height: 15px;
  fill: $white-color;
}

.menu__list-item:hover .menu__btn-svg--active {
  fill: $hover-color;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 150px;
}
