html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="“checkbox”"].visually-hidden,
input[type="radio”"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.wrapper {
  width: 1201px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(
      to bottom,
      rgba(240, 134, 134, 0.8),
      rgba(247, 220, 132, 0.8)
    ),
    url(../img/back-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

a.logo {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.menu {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  flex-basis: 520px;
  justify-content: space-between;
}

.menu-item:hover,
.menu-item:focus {
  color: #fce38a;
  cursor: pointer;
  transition: color 200ms linear;
}

.menu-item {
  position: relative;
}

.menu-item:nth-child(-n + 5):hover::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  margin: 0 auto;
  background-color: #fce38a;
  display: block;
  bottom: -10px;
}

.cart,
.search {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.menu-item svg {
  width: 18px;
  height: 15px;
  fill: #ffffff;
}

.menu-item:hover svg {
  fill: #fce38a;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 150px;
}

.welcome {
  width: 900px;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 230px;
  justify-content: center;
}

.welcome-title {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
}

.welcome-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 140px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 120px;
}

.welcome-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border: 3px solid white;
  color: white;
  background-color: transparent;
  padding: 10px 25px;
  display: block;
  margin: 0 auto;
}
/* MAIN */

.services {
  padding-top: 40px;
}

.question {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #484848;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-bottom: 65px;
}

h2::after {
  content: "";
  margin: 0 auto;
  height: 3px;
  width: 60px;
  background-color: #f38181;
  display: block;
  margin-top: 40px;
}

.services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 330px;
}

.service-list-item {
  display: flex;
  justify-content: center;
  flex-basis: 380px;
  flex-grow: 0;
}

.service-list-item::before {
  content: "";
  display: block;
  min-width: 82px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: center;
}

.alarm::before {
  background-image: url(../img/alarm.png);
}

.line-graph::before {
  background-image: url(../img/line-graph.png);
}
.computer::before {
  background-image: url(../img/computer-ok.png);
}

.book::before {
  background-image: url(../img/book.png);
}
.home::before {
  background-image: url(../img/home.png);
}
.digital::before {
  background-image: url(../img/digital.png);
}
.service-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 13px;
}
.service-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  margin-bottom: 90px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  position: relative;
  list-style: none;
}

.icons {
  position: absolute;
  width: 380px;
  height: 470px;
}

.team-list-item:hover .icons {
  background: linear-gradient(
    rgba(239, 138, 138, 0.8),
    rgba(239, 214, 133, 0.8)
  );
  box-shadow: 10px 10px 0 rgb(149, 225, 211);
  transition: box-shadow 200ms linear;
}

.icon-list {
  display: none;
}

.team-list-item:hover .icon-list {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.button-icon {
  width: 58px;
  height: 58px;
  background-color: rgb(252, 227, 138);
  border: 1px solid transparent;
  margin-right: 1px;
  cursor: pointer;
  display: flex;
  display: flex;
  justify-content: center;
}

.button-icon svg {
  width: 30px;
  height: 30px;
  fill: #f38181;
}

.button-icon:hover svg {
  fill: #ffffff;
}

.button-icon:hover {
  background-color: #f38181;
  transition: background-color 200ms linear;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #7a7a7a;
  margin-top: 40px;
  margin-bottom: 8px;
  text-align: center;
}

.position {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #a0a0a0;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 82px;
}

.team::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(160, 160, 160, 0.6);
}

/* footer */

.footer-sign {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7a7a7a;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-sign a {
  color: #f38181;
}

.footer-space {
  display: flex;
}

.email {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #a0a0a0;
  padding: 11px 140px 13px 10px;
}

.suscribe {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgb(149, 225, 211);
  border: 2px solid transparent;
  padding: 16px 32px;
  cursor: pointer;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  header {
    background-image: linear-gradient(
        to bottom,
        rgba(240, 134, 134, 0.8),
        rgba(247, 220, 132, 0.8)
      ),
      url(../img/back@2x-min.jpg);
  }

  .service-list-item::before {
    background-size: contain;
    width: 32px;
    height: 31px;
  }

  .alarm::before {
    background-image: url(../img/alarm@2x.png);
  }

  .line-graph::before {
    background-image: url(../img/line-graph@2x.png);
  }
  .computer::before {
    background-image: url(../img/computer-ok@2x.png);
  }

  .book::before {
    background-image: url(../img/book@2x.png);
  }
  .home::before {
    background-image: url(../img/home@2x.png);
  }
  .digital::before {
    background-image: url(../img/digital@2x.png);
  }
}
